@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes background{
    100% {background-size : 4000px 1000px}
}

.login{
background-image: url(/images/Wave.svg);
background-size: 2000px 700px;
background-position: -500px 0;
animation : background 10s infinite alternate linear
}

.chatBoxHeight {
    height : calc(87vh - 190px);
}
@media (min-width: 640px) {
    .chatBoxHeight {
        height: calc(100vh - 190px);
    }
}